/* Importar Fonts */
@font-face {
    font-family: TitilliumWeb;
    src: url(../assets/Fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: Quick-Sand;
    src: url(../assets/Fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family: Inter;
    src: url(../assets/Fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}


/* reset de informacoes */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout-grid{
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
}

/* Desktop */
body{
    background-color: red;
}



/* Mobile First */
/* Cabecalho */

#mobile {
    display: block;
}

.MostrarMenu{
   left: 0;
}

header nav {
   background-color: #1b1426;

   position: fixed;
   top: 60px;
   left: -65%;
   flex-direction: column;
   height: calc(100% - 60px);
   width: 65%;
   display: flex;
   justify-content: space-around;
   align-items: center;

   transition: left 0.2s;
}

.header-flex{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header{
    background-color: #1b1426;
    height: 60px;
}

#Icons{
    width: 100%;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bottom{
    width: 100%;
}

body{
    background-color: red;
}

.header-top{
    display: none;
}

nav a{
    color: white;
    text-decoration: none;
}


 
#IconsMore {
    background-color: #1b1426;
 
    position: fixed;
    top: 60px;
    right: -60px;
    flex-direction: column;
    height: calc(50% - 60px);
    width: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
 
    transition: right 0.2s;
 }

.MostrarMais{
    right: 0 !important;
}